<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css">
		<title>CS 253 Blog</title>
	</head>

	</style>
	
	<body>
		<a href="/blog" class="main-title">
			CS 253 Blog
		</a>


		<div class="login-area">
			{% if user %}
				{{user.name}} (<a class="login-link" href="/blog/logout">logout</a>)
			{% else %}
				<a class="login-link" href="/blog/login">login</a>
				|
				<a class="login-link" href="/blog/signup">signup</a>
			{% endif %}
		</div>

		<div id="content">
  
			{% for entry in entries %}
				<div class="post">
					
					<div class="post-heading">
						<a href="/blog/{{entry.key().id()}}" class="post-title">
							{{entry.subject}}
						</a>

						<div class="post-date">
							{{entry.created.strftime("%B %d, %Y")}}
						</div>
					</div>

					<pre class="post-content">{{entry.content}}</pre>
				</div>
			
				<br>
				<br>
			{% endfor %}
			
			<div class="age">
				queried {{agee}} seconds ago
			</div>
		</div>
	</body>
</html>
